@font-face {
    font-family: "friendsFont";
    src: url("./fonts/GABRWFFR.TTF") format("truetype");
}

/* red dot: #E91E23
blue dot: #02B2E7
yellow dot: #FABC16 */

* {
    box-sizing: border-box;
    font-family: "friendsFont", Verdana;
}

body {
    text-align: center;
}

.logo {
    max-width: 90%;
    display: block;
    margin: 0 auto 5%;
}

.loginForm, .addFriendForm {

    margin-top: 10vh;
    
    /* display: flex;
    flex-direction: column; */
}

label {
    font-size: 2rem;
}

input, button, select {
    line-height: 2rem;
    text-align: center;

    display: block;
    margin: 2rem auto;
}

input, select {

    font-size: 2rem;

    border: 0 solid;
    border-bottom: 2px solid;
}

button {
    font-size: 2rem;
    line-height: 4rem;
    padding: 0 1rem;
    cursor: pointer;

    border: none;
    background-color: transparent;
}

button:hover, button:active {

    color: #FABC16;
}

.formError, .serverAcessError {
    color: #E91E23;
}

hr {
    border: 2px solid;
    width: 50%;
}

.dividerColor1 {
    color: #E91E23;
    border-color: #E91E23;
}

.dividerColor2 {
    color: #02B2E7;
    border-color: #02B2E7;
}

.dividerColor3 {
    color: #FABC16;
    border-color: #FABC16;
}

a {
    color: #666666;
}

a:hover, a:active {
    color: #CCCCCC;
}